.main_container {
  width: 100%;
  display: grid;
  grid-template-columns: 17% 83%;
}
.dashboard_screen {
  width: 100%;
  min-height: 100vh;
}
.dashboard_content_container {
  width: 100%;
  height: 100%;
  padding: 40px;
}
.top_content {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  justify-content: space-between;
}
.heading_container {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
  width: 48%;
  justify-content: center;
  align-items: center;
}
.tab_outer {
  width: fit-content;
  padding: 20px;
  cursor: pointer;
  height: 80px;
  border-radius: 8px;
  padding: 3px;
  background: linear-gradient(white, #ccddee);
}
.tab {
  background-color: white;
  border-radius: 6px;
  width: fit-content;
  height: 100%;
  display: flex;
  padding: 7px 9px;
  flex-direction: column;
  row-gap: 10px;
}
.tab h1 {
  color: #0068ed;
  font-size: 16px;
}
.active_btn {
  color: black !important;
  font-weight: bolder;
  transition: ease-in-out 200ms;
}
.inactive_btn {
  color: grey !important;
  font-weight: bolder;
  transition: ease-in-out 200ms;
}
.icon_text_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: center;
  column-gap: 10px;
}
.icon_text_container p {
  color: grey;
  font-size: 15px;
}
.buttons_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  column-gap: 5px;
  width: 48%;
}
.dashboard_container {
  height: fit-content;
  padding: 60px 30px;
  width: 100%;
  box-shadow: 0 5px 50px 20px rgba(8, 72, 146, 0.24);
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 26px;
  background-color: rgba(255, 255, 255, 0.842);
}
.page_section {
  font-weight: normal;
  color: rgb(69, 69, 69);
  font-size: 25px;
}
.subheading {
  font-size: 18px;
  margin-top: 10px;
  color: #0068ed;
  font-weight: bolder;
  margin-bottom: 50px;
}
@media screen and (max-width: 1060px) {
  .main_container {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
  }
}
@media screen and (max-width: 942px) {
  .dashboard_content_container {
    width: 100%;
    height: 100%;
    padding: 20px;
  }
}
@media screen and (max-width: 720px) {
  .top_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .buttons_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    width: 100%;
    margin-bottom: 40px;
  }
  .icon_text_container p {
    display: none;
  }
  .tab {
    padding-left: 20px;
    padding-right: 20px;
  }
  .heading_contaienr {
    width: 100%;
    text-align: center;
  }
  .page_section {
    width: 100%;
    text-align: center;
  }
  .subheading {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
}
