.first_section_body {
  width: 100%;
  max-height: 120vh;
  min-height: 800px;
  position: absolute;
  padding: 150px;
  display: flex;
  flex-direction: row;
}
.banner_img {
  width: 100%;
  object-fit: cover;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  z-index: 2;
  max-height: 90vh;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.507);
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 90vh;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
}
.banner_img_container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  max-height: 90vh;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  z-index: 10;
}
.first_section_content_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 30;
  justify-content: space-evenly;
  max-width: 1150px;
  align-items: center;
  text-align: center;
}
.first_section_content_section h1 {
  font-size: 35px;
  font-weight: 800;
  width: 70%;
  color: white;
}
.first_section_content_section p {
  width: 80%;
  color: white;
}
.search_bar_container {
  width: 80%;
  height: 200px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.tabs_container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.first_section_wrapper {
  width: 100%;
  height: 100vh;
}
.single_tab_active {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.63);
  border: none;
  height: 50px;
  width: 33%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 200ms;
  backdrop-filter: blur(7px);
}
.single_tab_inactive {
  cursor: pointer;
  height: 50px;
  width: 33%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 200ms;
  background-color: rgba(255, 255, 255, 0.63);
  border: none;
  backdrop-filter: blur(7px);
}
.single_tab_active:hover {
  background-color: #237bec;
}
.single_tab_active p {
  font-weight: bolder;
  color: white;
  width: fit-content;
}
.single_tab_inactive p {
  font-weight: bolder;
  color: #0068ed;
  width: fit-content;
}
.search_bar {
  height: 100px;
  width: 100%;
  position: relative;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom: 4px solid #6b6b6b25;
  background-color: rgba(255, 255, 255, 0.63);
  display: flex;
  flex-direction: row;
  padding: 23px;
  backdrop-filter: blur(10px);
  border-top: 1px solid rgb(77, 77, 77);
}
.search_category {
  width: fit-content;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  text-align: left !important;
  align-items: flex-start !important;
  justify-content: space-between;
}
.search_category p {
  margin: 0;
  font-size: 12px;
  color: rgb(48, 48, 48);
}
.search_category h3 {
  margin: 0;
  font-size: 14px;
  color: #0068ed;
}
.divider {
  width: 1px;
  height: 100%;
  background-color: black;
}
.search_icon {
  height: 55px;
  width: 55px;
  background-color: #0068ed;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  box-shadow: 2px 1px 13px -1px #003983;
}
.icon {
  color: white;
}
