.first_section_body {
  width: 100%;
  height: 90vh;
  min-height: 85vh;
  position: absolute;
  padding: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.banner_img {
  width: 100%;
  object-fit: cover;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  z-index: 2;
  min-height: 85vh;
  height: 90vh;
  max-height: 90vh;
}
.input_field {
  background-color: transparent;
  border: none;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.507);
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 90vh;
  min-height: 85vh;
  max-height: 90vh;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
}
.banner_img_container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  /* max-height: 90vh; */
  max-height: 722px;
  min-height: 85vh;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  z-index: 10;
}
.first_section_content_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 30;
  height: 500px;
  min-height: 450px;
  justify-content: space-evenly;
  max-width: 1150px;
  align-items: center;
  text-align: center;
}
.first_section_content_section h1 {
  font-size: 35px;
  font-weight: 800;
  width: 70%;
  color: white;
}
.first_section_content_section p {
  width: 80%;
  color: white;
}
.search_bar_container {
  width: 80%;
  height: 200px;
  min-width: 882px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  transition: ease-in-out 200ms;
  opacity: 0.4 !important;
}
.search_bar_container:hover {
  opacity: 1 !important;
}
.tabs_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background-color: rgba(255, 255, 255, 0.699);
}
.first_section_wrapper {
  width: 100%;
  max-height: 120vh;
  min-height: 100vh;
}
.single_tab {
  cursor: pointer;
  /* border-radius: 30px; */
  border: none;
  height: 50px;
  width: 33%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 200ms;
  backdrop-filter: blur(7px);
}
.single_tab p {
  transition: ease-in-out 200ms;
  font-size: 14px;
}
.single_tab_mid p {
  transition: ease-in-out 200ms;
  font-size: 14px;
}
.single_tab_active {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.63);
  border: none;
  height: 50px;
  width: 40%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 200ms;
  backdrop-filter: blur(7px);
}
.single_tab_mid {
  cursor: pointer;
  border: none;
  height: 50px;
  width: 20%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 200ms;
  backdrop-filter: blur(7px);
}
.single_tab_inactive {
  cursor: pointer;
  height: 50px;
  width: 33%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 200ms;
  background-color: rgba(255, 255, 255, 0.63);
  border: none;
  backdrop-filter: blur(7px);
}
.single_tab_active:hover {
  background-color: #237bec;
}
.single_tab_active p {
  font-weight: bolder;
  color: white;
  width: fit-content;
}
.single_tab_inactive p {
  font-weight: bolder;
  color: #0068ed;
  width: fit-content;
}
.search_bar {
  height: 100px;
  width: 100%;
  position: relative;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom: 4px solid #6b6b6b25;
  background-color: rgba(255, 255, 255, 0.63);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 23px;
  backdrop-filter: blur(10px);
  border-top: 1px solid rgb(77, 77, 77);
}
.mobile_filter_toggler {
  display: none;
}
.search_category {
  width: fit-content;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  text-align: left !important;
  align-items: flex-start !important;
  justify-content: space-between;
}
.search_category p {
  margin: 0;
  font-size: 12px;
  color: rgb(48, 48, 48);
}
.search_category h3 {
  margin: 0;
  font-size: 14px;
  color: #0068ed;
}
.divider {
  width: 1px;
  height: 100%;
  background-color: rgb(119, 119, 119);
}
.divider_small {
  width: 1px;
  height: 30px;
  background-color: rgb(119, 119, 119);
}
.search_icon {
  height: 55px;
  width: 55px;
  background-color: #0068ed;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 1px 13px -1px #003983;
  transition: ease-in-out 200ms;
  cursor: pointer;
}
.search_icon:hover {
  background-color: #3d8ffb;
  box-shadow: 2px 1px 13px -1px #001838;
}
.search_icon:hover .icon {
  width: 22px;
  height: 22px;
}
.icon {
  color: white;
  width: 17px;
  height: 17px;
  transition: ease-in-out 200ms;
}
.search_bar_mobile {
  display: none;
}
@media screen and (max-width: 1000px) {
  .banner_img {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }
  .overlay {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }
  .banner_img_container {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }
  .first_section_wrapper {
    width: 100%;
    max-height: 95vh;
    min-height: 95vh;
  }
}

@media screen and (max-width: 910px) {
  .search_bar_container {
    max-width: initial;
    min-width: initial;
    width: 100%;
    opacity: 1 !important;
    margin-bottom: 100px;
  }
  .first_section_content_section {
    width: 100%;
    max-width: initial;
    min-width: initial;
  }
  .first_section_body {
    padding-left: 20px;
    padding-right: 20px;
  }
  .search_bar_mobile {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    position: relative;
    transition: ease-in-out 200ms;
    border-bottom: 4px solid #6b6b6b25;
    background-color: rgba(255, 255, 255, 0.63);
    display: flex;
    padding: 13px;
    backdrop-filter: blur(10px);
    border-top: 1px solid rgb(77, 77, 77);
  }
  .mobile_filter_toggler {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px !important;
    min-height: 30px;
    border-top: 1px solid grey;
    background-color: rgba(255, 255, 255, 0.63);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .search_bar {
    display: none;
  }
  .single_row {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .search_category_mobile {
    width: fit-content;
    padding: 20px;
    width: 50%;
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    text-align: left !important;
  }
  .search_category_mobile p {
    margin: 0;
    font-size: 10px;
    color: rgb(48, 48, 48);
  }
  .search_category_mobile h3 {
    margin: 0;
    font-size: 12px;
    color: #0068ed;
  }
  .search_mobile_btn {
    height: 40px;
    width: 100%;
    background-color: #0068ed;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 1px 13px -1px #003983;
    transition: ease-in-out 200ms;
    cursor: pointer;
  }
  .search_mobile_btn:hover {
    background-color: #3d8ffb;
    box-shadow: 2px 1px 13px -1px #001838;
  }
  .search_mobile_btn:hover .icon {
    width: 25px;
    height: 25px;
  }
  .search_mobile_btn p {
    font-size: 13px !important;
    color: white;
    width: fit-content;
  }
  .icon {
    color: white;
    width: 17px;
    height: 17px;
    transition: ease-in-out 200ms;
  }
  /* height: 100px;
  width: 100%;
  position: relative;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom: 4px solid #6b6b6b25;
  background-color: rgba(255, 255, 255, 0.63);
  display: flex;
  flex-direction: row;
  padding: 23px;
  backdrop-filter: blur(10px);
  border-top: 1px solid rgb(77, 77, 77); */
}
