.content_section_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  margin-top: 30px;
  margin-bottom: 100px;
}
.content_section {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.single_section {
  margin-top: 40px;
  margin-bottom: 40px;
}
.single_section h1 {
  font-size: 55px;
  color: #0068ed;
  width: 100%;
  text-align: center;
}
.subheading {
  margin-bottom: 90px;
  margin-top: 20px;
  width: 100%;
  text-align: center;
}
.single_section p {
  line-height: 26px !important;
  margin-bottom: 20px;
}
.single_row {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}
.single_row img {
  margin-top: 7px;
}
.small_heading {
  font-weight: bolder;
  color: black;
}
.med_heading {
  font-weight: bolder;
  color: #0068ed;
  font-size: 30px;
}

@media screen and (max-width: 786px) {
  .content_section {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .single_section h1 {
    font-size: 35px;
    color: #0068ed;
    width: 100%;
    text-align: center;
  }
  .single_section p {
    line-height: 21px !important;
    margin-bottom: 20px;
    font-size: 14px;
  }
}
