.cards_container {
  height: fit-content;
  width: 100%;
  max-height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  flex-direction: column;
}
.cards {
  width: 90%;
  display: grid;
  row-gap: 20px;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.info_window {
  height: 200px;
  width: 250px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader_container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  justify-content: center;
  align-items: center;
}
.map_container {
  margin-top: 200px;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.categories_container {
  width: 85%;
  height: 60px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
}
.left_panel {
  width: 70%;
  height: 100%;
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
}
.left_panel p {
  margin-right: 50px;
  font-size: 15px;
  color: rgb(90, 90, 90);
}
@media only screen and (max-width: 1260px) {
  .cards {
    width: 90%;
    display: grid;
    row-gap: 20px;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 1000px) {
  .map_container {
    margin-top: 120px;
  }
}
@media only screen and (max-width: 950px) {
  .cards {
    width: 95%;
    display: grid;
    row-gap: 20px;
    place-items: center;
    grid-template-columns: 1fr 1fr;
  }
  .iframe {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    height: 600px;
  }
}
@media only screen and (max-width: 640px) {
  .cards {
    width: 95%;
    display: grid;
    row-gap: 20px;
    place-items: center;
    grid-template-columns: 1fr 1fr;
  }
}

.card_body {
  height: 300px;
  width: 270px;
  min-width: 250px;
  border-radius: 30px;
  flex-direction: column;
  position: relative;
  transition: ease-in-out 200ms;
  border-bottom: 2px solid rgb(204, 204, 204);
  cursor: pointer;
}
.like {
  transition: ease-in-out 200ms;
  position: absolute;
  top: 20px;
  right: 20px;
  color: #0068ed;
  z-index: 50;
  opacity: 0;
  cursor: pointer;
  transition: ease-in-out 200ms;
}
.like:hover {
  color: #1f7df9;
}
.edit {
  transition: ease-in-out 200ms;
  position: absolute;
  top: 20px;
  right: 20px;
  color: #0068ed;
  z-index: 50;
  opacity: 0;
  cursor: pointer;
  transition: ease-in-out 200ms;
}
.edit:hover {
  transform: rotate(80deg);
  color: #1f7df9;
}
.image_container {
  height: 50%;
  width: 100%;
  border-top-left-radius: 30px !important;
  border-top-right-radius: 30px !important;
  position: relative;
}
.property_picture {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 30px !important;
  border-top-right-radius: 30px !important;
}
.description_container {
  height: 50%;
  width: 100%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  flex-direction: column;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.24);
  border: 2px solid rgba(255, 255, 255, 0.377);
}
.title_and_price_container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3px;
}
.title {
  font-weight: bolder;
  color: black;
  margin: 0;
}
.price {
  font-weight: bolder;
  color: #0068ed;
  margin: 0;
}
.location_container {
  width: 100%;
  height: fit-content;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.location {
  font-size: 10px;
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
}
.location_icon,
.heart_icon {
  color: #0068ed;
}
.heart_icon {
  float: right;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.property_description_container {
  margin-top: 20px;
  width: 90%;
  word-wrap: break-word;
}
.property_description_container p {
  font-size: 12px;
  max-width: calc(95%) !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  overflow: hidden !important;
}
.bottom_description_container {
  position: absolute;
  bottom: 10px;
  width: 90%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}
.bottom_description_container p {
  font-size: 15px;
  margin-left: 10px;
  margin-right: 15px;
}
@media screen and (max-height: 600px) {
  .card_body {
    height: 250px !important;
    width: 220px !important;
    min-width: initial !important;
    box-shadow: 0 5px 30px 10px rgba(8, 72, 146, 0.24);
  }
}
