.form_body {
  width: 100%;
  height: fit-content;
  max-width: 1030px !important;
}
.inbox_container {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  height: 55vh;
}
.all_msgs_container {
  width: 35%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  overflow-y: scroll !important;
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

.all_msgs_container::-webkit-scrollbar {
  /* WebKit for hiding scrollbar */
  width: 0 !important;
  height: 0 !important;
}
.single_inbox_container_active h1 {
  color: white;
  font-size: 18px;
}
.single_inbox_container_active p {
  color: white;
  font-size: 14px;
}
.single_inbox_container_inactive h1 {
  color: #0169ec;
  font-size: 18px;
}
.single_inbox_container_inactive p {
  color: grey;
  font-size: 14px;
}
.single_inbox_container_inactive,
.single_inbox_container_active {
  width: 100%;
  height: 55px;
  min-height: 80px;
  border-radius: 25px;
  transition: ease-in-out 200ms;
  cursor: pointer;
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
}
.single_inbox_container_inactive {
  background-color: #f4f4f4;
}
.single_inbox_container_active {
  background-color: #0169ec;
}
.single_inbox_container_inactive:hover {
  background-color: #efefef;
}
.message_container {
  width: 65%;
  height: 100%;
  border-radius: 30px;
  border: 2px solid rgb(223, 223, 223);
  display: flex;
  flex-direction: column;
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}
.message_container::-webkit-scrollbar {
  /* WebKit for hiding scrollbar */
  width: 0 !important;
  height: 0 !important;
}
.message_header {
  width: 100%;
  height: 20%;
  padding: 20px;
  justify-content: center;
  row-gap: 10px;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid rgb(223, 223, 223);
}
.message_header h1 {
  font-size: 24px;
  color: #666666;
}
.message_container p {
  font-size: 13px;
}
.message_body {
  height: 80%;
  width: 100%;
  padding: 20px;
  overflow-y: scroll;
}
.heading {
  font-size: 25px;
  color: rgb(84, 100, 112);
}
.single_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.infinite_input_fields_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: normal;
  justify-content: space-between;
}
.input_field_with_label_top_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.top_label {
  font-size: 15px;
  margin-bottom: 10px;
}
.two_field_container {
  width: 48%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.three_field_container {
  width: 31%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.input_field {
  width: 48%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.section {
  height: fit-content;
  width: 100%;
  margin-bottom: 90px;
}
.input_field_single {
  -webkit-appearance: none;
  width: 100%;
  height: 52px;
  background-color: #f6f6fa;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px !important;
  /* padding-top: 10px; */
  font-family: sans-serif;
}
.checkboxes_container {
  width: 100%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.checkbox_container {
  display: flex;
  width: 100%;
  /* background-color: red; */
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 45px;
  margin-right: 5px;
  padding-right: 15px;
}

.project_holder {
  width: 45%;
  max-width: 250px;
  height: 260px;
  background-color: #f6f6fa;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project_holder p {
  font-size: 12px;
}
.project_holder:hover {
  background-color: #f2f2f3;
}

.image_holder {
  width: 115px;
  height: 120px;
  background-color: #f6f6fa;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  padding-top: 3px;
  position: relative;
  padding-bottom: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add_btn_label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 28px;
  border-radius: 100px;
  border: 1px solid rgb(145, 145, 145);
}
.add_btn_label h1 {
  color: rgb(145, 145, 145);
  margin-top: 0px;
  font-size: 28px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  height: fit-content;
}
.image_holder p {
  font-size: 12px;
}
.image_holder:hover {
  background-color: #f2f2f3;
}
.image_holder_container {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  width: 100%;
  column-gap: 10px;
  justify-content: space-between;
}
.container_with_top_label {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.small_label {
  font-size: 10px;
  color: rgb(146, 146, 146);
  margin-top: 15px;
}
.checkbox {
  height: 20px;
  width: 20px;
}
.checkbox_label {
  width: fit-content;
  margin-left: 10px;
  font-size: 14px;
}
.input_field_dual {
  -webkit-appearance: none;
  width: 80%;
  height: 52px;
  background-color: #f6f6fa;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
.add_field_working {
  cursor: pointer;
  color: rgb(131, 140, 156);
}
.add_field {
  pointer-events: none;
  cursor: pointer;
  color: rgb(131, 140, 156);
}
.looped_input_field_container {
  position: relative;
  width: 32%;
  margin-bottom: 20px;
  height: 52px;
}
.companyLogo {
  position: absolute;
  right: 0;
  top: 10px;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.data_input_container {
  position: relative;
  width: 31%;
  margin-bottom: 20px;
  height: 52px;
  /* width: 80%; */
  height: 52px;
  display: flex;
  align-items: center;
  background-color: #f6f6fa;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
.add_btn_border_working {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  border: 2px solid rgb(131, 140, 156);
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}
.add_btn_border {
  pointer-events: none;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  border: 2px solid rgb(131, 140, 156);
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}
.add_btn_border_without_absolute {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  border: 2px solid rgb(131, 140, 156);
  cursor: pointer;
  margin-top: 14px;
}
.input_field_three {
  -webkit-appearance: none;
  width: 90%;
  height: 52px;
  background-color: #f6f6fa;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding-left: 20px;
}

.label {
  font-weight: bolder;
  font-size: 15px;
  width: 20%;
  max-width: 100px;
  min-width: 100px;
  color: rgb(56, 56, 56);
}
.label_dual {
  font-weight: bolder;
  font-size: 15px;
  width: 20%;
  min-width: 100px;
  max-width: 100px;
  color: rgb(56, 56, 56);
}
.data_tabs_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  width: 100%;
  column-gap: 30px;
}
.btns_container {
  width: 80%;
  height: 50px;
  border: 1px solid rgba(73, 80, 97, 0.705);
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.filter_panel_btn_label_unselected {
  font-size: 13px;
  font-weight: bolder;
  color: rgb(105, 105, 105) !important;
}
.filter_panel_btn_label_selected {
  font-size: 13px;
  font-weight: bolder;
  color: rgb(0, 99, 247) !important;
}
.filter_panel_btn {
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}
.divider {
  height: 50%;
  background-color: grey;
  width: 1px !important;
}
#image_input {
  display: flex;
  flex-direction: column;
}
.img {
  height: 100%;
  background-color: red;
  max-width: 150px;
  border-radius: 0px !important;
  object-fit: contain;
}
.btn {
  height: 50px;
  width: 20%;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: #0169ec;
  color: white;
  border: none;
  border-radius: 100px;
  font-size: 12px;
  cursor: pointer;
  transition: ease-in-out 200ms;
  box-shadow: 0 10px 20px 5px rgba(8, 72, 146, 0.329);
}
.btn:hover {
  transition: ease-in-out 200ms;
  background-color: #3788ea;
}
.image_holder input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer !important;
  height: 100% !important;
}
.data_input_container input[type="file"] {
  position: absolute;
  right: 0;
  top: 13px;
  opacity: 0;
  width: 50px;
}
.map_container {
  width: 100%;
  height: 530px;
}

.image_container_outer {
  margin-top: 50px;
  margin-bottom: 30px;
  min-width: 140px;
  min-height: 140px;
  max-width: 140px;
  max-height: 140px;
  border-radius: 1000px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid grey;
  background: white;
}
.image_container {
  background-color: white;
  width: 100%;
  height: 120px;
  border-radius: 1000px;
  position: relative;
  cursor: pointer;
}
.img {
  width: inherit;
  height: inherit;
  object-fit: contain;
  border-radius: 1000px;
}
.pic_input {
  position: absolute;
  left: 0px;
  top: 0%;
  width: 100%;
  height: 100%;
}
.image_container input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer !important;
  height: 100% !important;
}

@media screen and (max-width: 1010px) {
  .btn {
    width: 100%;
  }
  .top_label {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .filter_panel_btn_label_unselected {
    font-size: 12px;
  }
  .filter_panel_btn_label_selected {
    font-size: 12px;
  }
  .heading {
    font-size: 14px;
  }
  .label,
  .label_dual {
    font-size: 12px;
    width: 20%;
    max-width: 60px;
    min-width: 60px;
  }
  .btns_container {
    width: 100%;
    height: 35px;
  }

  .single_row {
    flex-direction: column;
    width: 100%;
    row-gap: 20px;
    align-items: initial;
  }
  .input_field_single {
    width: 100% !important;
  }
  .image_holder_container {
    overflow-x: scroll;
    justify-content: initial;
    column-gap: 20px;
    padding-left: 30px;
  }
  .image_holder {
    min-width: 113px;
  }
  .checkboxes_container {
    display: grid;
    grid-template-columns: 48% 48%;
  }
  .input_field_single {
    max-width: 100%;
  }
  .input_field_dual {
    width: 100%;
  }
  .input_field {
    flex-direction: column;
    justify-content: initial;
    align-items: initial;
    row-gap: 10px;
  }
  .two_field_container {
    width: 100%;
    flex-direction: column;
    justify-content: initial;
    align-items: initial;
    row-gap: 10px;
  }
  .input_field_three {
    width: 100%;
  }
  .three_field_container {
    width: 100%;
    flex-direction: column;
    justify-content: initial;
    align-items: initial;
    row-gap: 10px;
  }
  .checkbox_label {
    width: fit-content;
    margin-left: 10px;
    font-size: 12px;
  }
  .checkbox {
    height: 15px;
    width: 15px;
  }
}
@media screen and (max-width: 850px) {
  .inbox_container {
    flex-direction: column;
    row-gap: 20px;
  }
  .all_msgs_container {
    width: 100%;
  }
  .message_container {
    width: 100%;
  }
  .single_inbox_container_inactive,
  .single_inbox_container_active {
    width: 100%;
    height: 25px;
    min-height: 35px;
    border-radius: 15px;
    transition: ease-in-out 200ms;
    cursor: pointer;
    padding-top: 25px;
    padding-bottom: 25px;

    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
  }
  .single_inbox_container_active h1 {
    font-size: 13px;
  }
  .single_inbox_container_inactive h1 {
    font-size: 13px;
  }
  .single_inbox_container_active p {
    font-size: 11px;
  }
  .single_inbox_container_inactive p {
    font-size: 11px;
  }
  .message_container h1 {
    font-size: 13px;
  }
  .message_header {
    width: 100%;
    height: 31%;
    padding: 20px;
    justify-content: center;
    row-gap: 5px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid rgb(223, 223, 223);
  }
  .data_tabs_container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
    column-gap: 30px;
  }
  .data_input_container {
    width: 100%;
  }
}
