.navbar_body,
.navbar_body_opaque {
  height: 120px;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 200;
  transition: background-color 300ms linear;
  position: fixed;
}
.search_icon {
  height: 45px;
  width: 45px;
  background-color: #0068ed;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  top: 0;
  box-shadow: 2px 1px 13px -1px #0050b9;
}
.add_btn {
  width: 25px;
  height: 25px;
  border: 1px solid white;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 200ms;
}
.add_btn_black {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 200ms;
}
.add_btn_black p {
  font-size: 25px !important;
  color: white;
}
.add_btn p {
  font-size: 25px !important;
  color: white;
}
.search_category {
  width: fit-content;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  text-align: left !important;
  align-items: flex-start !important;
  justify-content: space-between;
}
.search_category p {
  margin: 0;
  font-size: 10px;
  color: rgb(48, 48, 48);
}
.search_category h3 {
  margin: 0;
  font-size: 12px;
  color: #0068ed;
}
.search_bar {
  height: 50%;
  width: 63%;
  position: relative;
  display: flex;
  flex-direction: row;
}
.divider2 {
  width: 1px;
  height: 100%;
  background-color: rgba(73, 80, 97, 0.705);
}
.icon {
  color: white;
  transition: ease-in-out 200ms;
}
.icon_black {
  color: black;
  transition: ease-in-out 200ms;
}
.filter_panel_hidden {
  position: absolute;
  top: 0px;
  opacity: 0;
  transition: ease-in-out 200ms;
  pointer-events: none;
}
.filter_panel {
  z-index: 20;
  position: absolute;
  width: 100%;
  height: 80px;
  left: 0;
  top: 120px;
  opacity: 1;
  background-color: rgba(240, 247, 255, 0.863);
  transition: ease-in-out 200ms;
  box-shadow: 0px 4px 18px 1px rgba(0, 74, 143, 0.308);
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  display: flex;
  backdrop-filter: blur(4px);
  justify-content: center;
  pointer-events: all;
}
.dropdown_container {
  position: relative;
}
.dropdown_container:hover .dropdown {
  opacity: 1;
  pointer-events: all !important;
  z-index: 90;
  box-shadow: 4px 5px 19px -3px rgba(0, 0, 0, 0.75);
}
.option {
  height: 40px;
  width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 200ms;
  cursor: pointer;
}
.option:hover {
  background-color: rgb(204, 229, 250);
}
.option p {
  color: black !important;
}
.img_placeholder {
  height: 23px;
  width: 23px;
  border-radius: 50px;
  background-color: white;
  border: 2px solid #60e7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.img_placeholder p {
  color: rgb(78, 78, 78) !important;
  z-index: 10;
  font-weight: bold;
}
.online_indicator {
  position: absolute;
  right: -2px;
  bottom: -2px;
  width: 8px;
  height: 8px;
  border-radius: 50px;
  background-color: greenyellow;
}
.dropdown {
  pointer-events: none;
  position: absolute;
  height: fit-content;
  width: 100px;
  top: 30px;
  left: -35px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  transition: ease-in-out 200ms;
  background-color: rgba(255, 255, 255, 0.808);
}
.navbar_body_opaque {
  background-color: rgba(255, 253, 250, 0.762);
  backdrop-filter: blur(8px);
  /* box-shadow: 0px 4px 18px 1px rgba(0,0,0,0.51); */
}
.filter_panel_content {
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-width: 1235px;
  min-width: 1200px;
}
.btns_container {
  width: 30%;
  height: 55%;
  border: 1px solid rgba(73, 80, 97, 0.705);
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.filter_panel_btn_label_unselected {
  font-size: 13px;
  font-weight: bolder;
  color: rgb(105, 105, 105) !important;
}
.filter_panel_btn_label_selected {
  font-size: 13px;
  font-weight: bolder;
  color: rgb(0, 99, 247) !important;
}
.filter_panel_btn {
  padding-left: 10px;
  padding-right: 10px;
}
.divider {
  height: 50%;
  background-color: grey;
  width: 1px !important;
}
.right_panel,
.left_panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}
.right_panel {
  width: 50%;
  justify-content: space-evenly;
}
.navbar_body p {
  cursor: pointer;
  color: white;
  font-size: 13px;
  transition: ease-in-out 200ms;
}
.navbar_body_opaque p {
  color: black;
  font-size: 13px;
  transition: ease-in-out 200ms;
  cursor: pointer;
}
.left_panel {
  width: 40%;
  justify-content: left;
  padding-left: 80px;
}
.logo {
  min-width: 135px;
  max-width: 25%;
  cursor: pointer;
}
.login_btn {
  height: 40px;
  width: fit-content;
  padding-left: 20px;
  padding-right: 20px;
  border: 0.5px solid rgba(255, 255, 255, 0.274);
  background-color: #0050b9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  transition: ease-in-out 200ms;
  box-shadow: 2px 1px 13px 3px #1252a5da;
  cursor: pointer;
  column-gap: 10px;
}
.login_btn:hover {
  margin-bottom: 7px;
  box-shadow: 2px 1px 23px 3px #4585dada;
  background-color: #0d6ae4;
}
.login_btn p {
  color: white;
}
.selected {
  font-weight: bold;
}

.hover_underline_animation {
  display: inline-block;
  position: relative;
  font-size: 14px !important;
}
.hover_underline_animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover_underline_animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.right_panel_mobile {
  display: none;
}
@media screen and (max-width: 1000px) {
  .right_panel {
    display: none;
  }
  .right_panel_mobile {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  .left_panel {
    padding-left: 0px;
  }
  .filter_panel {
    display: none;
  }
}
