.main_features_section{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding-bottom: 80px;
}
.main_features_section h1{
    padding-bottom: 50px;
}
.main_features_content{
    width: 80%;
    max-width: 1200px;
    height: 90%;
    box-shadow: 0 5px 30px 10px rgba(8, 72, 146, 0.24);
    border-radius: 15px;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.single_row{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
}
.input_field_container_dual{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 47%;
}
.section{
    margin-bottom: 20px;
}
.input_field p{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    font-size: 17px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 30px;
}
.input_field{
    width: 100%;
    height: 52px;
    background-color: #f6f6fa;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.input_field_container_dual label{
    color: black;
    font-size: 14px;
}
.section label{
    font-weight: bolder;
    font-size: 17px;
    color: #0050b9;
}
.bullets_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    align-items: center;
    margin-bottom: 18px;
}
.bullets_container p{
    font-size: 14px;
}
.bullet_point{
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    height: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
}
.bullet_text{
    font-size: 16px !important;
    color: #0050b9;
    font-weight: bold;
    margin-top: 0px !important;
    margin-left: 12px;
}
.bullet{
    min-height: 10px;
    min-width: 10px;
    max-height: 10px !important;
    max-width: 10px !important;
    border-radius: 100px;
    background-color: #0050b9;
}