.first_section_body {
  width: 100%;
  height: 75vh;
  min-height: 75vh;
  position: relative;
  padding: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.banner_img {
  width: 100%;
  object-fit: cover;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  z-index: 2;
  max-height: 75vh;
}
.overlay {
  background: linear-gradient(to right, #0050b9, #0050b9a6, #0050b900);
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 75vh;
  min-height: 75vh;
  max-height: 75vh;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
}
.banner_img_container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  object-fit: cover;
  /* max-height: 722px; */
  min-height: 75vh;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  z-index: 10;
}
.first_section_content_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 30;
  height: 150px;
  justify-content: space-evenly;
  max-width: 1150px;
  align-items: left;
  text-align: left;
}
.first_section_content_section h1 {
  font-size: 35px;
  font-weight: 800;
  width: 70%;
  color: white;
}
.first_section_content_section p {
  width: 220px;
  color: white;
  cursor: pointer;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 10px 12px;
  background-color: rgba(255, 255, 255, 0.055);
  transition: ease-in-out 200ms;
}
.first_section_content_section span{
  transition: ease-in-out 200ms;
  margin-left: 5px;
}

.first_section_content_section p:hover span{
  margin-left: 12px;
  transition: ease-in-out 200ms;
}
