.vision_section{
    height: fit-content;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_container{
    width: 95%;
    height: 90%;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}
.content_container p{
    font-size: 12px;
    width: 70%;
    text-align: center;
    margin-top: 20px;
    max-width: 900px;
}
.cards_container{
    width: 100%;
    display: flex;
    max-height: 650px;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
    max-width: 1381px;
}
@media screen and (max-width: 1000px) {
    .cards_container{
        overflow-x: scroll;
        justify-content: initial;
        column-gap: 20px;
        padding-top: 30px;
        padding-bottom: 60px;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
    .content_container h1{
        font-size: 24px;
    }
    .content_container{
        width: 100%;
    }
}