.unique_section{
    height: fit-content;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.content_container{
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.content_container p{
    width: 75%;
    margin-top: 30px;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    max-width: 900px;
}
.media_container{
    margin-top: 20px;
    width: 90%;
    display: flex;
    flex-direction: row;
    height: 600px;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1200px;
}
.image_container{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 450px;
    height: 70%;
    position: relative !important;
}
.bullets_container{
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 40px;
    padding-bottom: 40px;
}
.img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;    
}
.single_tab{
    height: 100px;
    width: 100%;
    border-radius: 15px;
    flex-direction: row;
    display: flex;
    align-items: center;
    padding: 3px;
    transition: ease-in-out 200ms;
    border: 3px solid rgba(255, 255, 255, 0);
}
.single_tab:hover{
    transform: translate3d(0px, -3px, 10px);
    transition: ease-in-out 200ms;
    cursor: pointer;
    /* background-color: rgba(255, 255, 255, 0.233);
    border: 3px solid rgba(255, 255, 255, 0.226);*/
    box-shadow: 2px 4px 22px -1px rgba(100, 137, 185, 0.747); 
}
.icon_holder{
    height: 70px;
    width: 70px;
    background-color: #b0d3ff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 10px;
}
.icon_container{
    width: 60%;
    position: relative;
}
.tab_icon{
    width: 50px;
    height: 50px;
}
.description_container{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    display: flex;
    text-align: left !important;
    justify-content: center;
    /* align-items: center; */
}
.description_container h1{
    color: #0068ed;
    font-size: 15px;
    margin-bottom: 5px;
}
.description_container p{
    color: rgb(48, 48, 48);
    font-size: 14px;
    margin: 0;
    text-align: left !important;
    line-height: 20px;
    width: 100%;
}
