.first_section_body {
  width: 100%;
  height: 75vh;
  min-height: 75vh;
  position: relative;
  padding: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.banner_img {
  width: 100%;
  object-fit: cover;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  z-index: 2;
  max-height: 75vh;
}
.property_info {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
  width: 70%;
}
.btns_container{
  display: flex;
  flex-direction: column;
  width: 30%;
  row-gap: 10px;
  margin-top: 40px;
}
.upper_btns{
  display: flex;
  flex-direction: row;
  width: 100%;
  column-gap: 10px;
}
.property_stats {
  display: flex;
  flex-direction: row;
  column-gap: 18px;
  align-items: center;
}
.row {
  display: flex;
  flex-direction: row;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
}
.property_location{
  font-size: 18px;
  color: white;
}
.propert_name {
  font-weight: normal;
  color: white;
}
.divider {
  width: 1px !important;
  height: 35px !important;
  background-color: white !important;
}
.banner_btn{
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.075);
  backdrop-filter: blur(5px);
  padding: 15px 20px;
  cursor: pointer;
  transition: ease-in-out 200ms;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent !important;
}
.banner_btn:hover{
  border: 1px solid white !important;
  background-color: rgba(255, 255, 255, 0.158);

}
.each_slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 75vh;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
}

.each_slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}
.banner_btn p{
  color: white;
}
.pkr {
  font-size: 20px;
  height: fit-content;
  margin-bottom: 0px;
  color: white;
}
.price {
  font-size: 40px;
  height: fit-content;
  margin-bottom: 0px;
  color: white;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.581);
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 75vh;
  min-height: 75vh;
  max-height: 75vh;
  border-bottom-left-radius: 200px !important;
  border-bottom-right-radius: 200px !important;
}
.banner_img_container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  object-fit: cover;
  /* max-height: 722px; */
  min-height: 75vh;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  z-index: 10;
}
.info_and_btns{
  width: 90%;
  display: flex;
  flex-direction: row;
  z-index: 30;
  column-gap: 20px;
  height: 150px;
  justify-content: center;
  align-items: center;
  max-width: 1350px;
  align-items: left;
  text-align: left;
}
.banner_btns_wrapper{
  height: 150px;
  display: flex;
  width: 100%;
  padding-left: 0px;

}
.banner_btns_container{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.btn_body{
  width: 110px;
  height: 90%;
  border-radius: 20px;
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 200ms;
}
.btn_body:hover{
  border: 1px solid rgba(255, 255, 255, 0.295);
  background-color: rgba(255, 255, 255, 0.253);
  /* backdrop-filter: blur(5px); */
}
.btn_body p{
  color: white;
  font-size: 13px;
}
.first_section_content_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 30;
  column-gap: 20px;
  height: 400px;
  justify-content: center;
  align-items: center;
  max-width: 1350px;
  align-items: left;
  text-align: left;
  row-gap: 40px;
  margin-top: 120px;
}
/* .first_section_content_section h1 {
  font-size: 35px;
  font-weight: 800;
  width: 70%;
  color: white;
}
.first_section_content_section p {
  width: 220px;
  color: white;
  cursor: pointer;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 10px 12px;
  background-color: rgba(255, 255, 255, 0.055);
  transition: ease-in-out 200ms;
} */
.first_section_content_section span {
  transition: ease-in-out 200ms;
  margin-left: 5px;
  opacity: 0;
}

.first_section_content_section p:hover span {
opacity: 1;
  transition: ease-in-out 200ms;
}
