.description_section{
    width: 100%;
    height: fit-content;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content_container{
    width: 90%;
    height: fit-content;
    text-align: center;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}
.video_container{
    width: 90%;
    height: 550px;
    border-radius: 35px;
    /* background-color: #0050b9; */
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1216px;
}
.video{
    object-fit: cover;
    max-width: 1216px;
    height: 450px;
    width: 100%;
    border-radius: 35px;
}
.description_container{
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.description_container p{
    width: 70%;
    line-height: 22px;
    font-size: 12px;
}
.description_container h3{
    color: #0050b9;
    margin-top: 40px;
}
.btn{
    height: 50px;
    background-color: #0050b9;
    border-radius: 100px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.btn p{
    color: white;
    font-size: 12px;
}
.services_container{
    width: 100%;
    max-width: 1240px;
    min-width: 1200px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 100px;
}
.description{
    width: 50%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    /* justify-content: center; */
    /* align-items: center; */
}
.heading_container{
    width: 100%;
    height: 120px;
    border-radius: 30px;
    box-shadow: 4px 1px 48px -1px rgba(35,90,174,0.35);
    display: flex;
    flex-direction: row;
    position: relative;
}
.left_panel{
    position: absolute;
    left: 0px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #0169ec;
    height: 100%;
    width: 25px;
}
.img{
    width: 100%;
}
.icon_container{
    width: 20%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
}
.title_container{
    width: 50%;
    height: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-left: 15px;
}
.title_container p{
    font-size: 30px;
    font-weight: bold;
    color: #0169ec;
    text-align: left;
}
.service_description_container{
    margin-top: 20px;
    width: 90%;
}
.service_description_container p{
    font-size: 14px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 50px;
}
.description h1{
    color: #0169ec;
    font-weight: bolder;
    text-align: left;
}
.bullets_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}
.bullet_point{
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    height: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
}
.bullet_text{
    font-size: 16px !important;
    color: #0050b9;
    font-weight: bold;
    margin-top: 0px !important;
    margin-left: 12px;
}
.bullet{
    height: 10px;
    width: 10px;
    border-radius: 100px;
    background-color: #0050b9;
}
.augmented_reality_section{
    width: 90%;
    height: fit-content;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
.cards_container{
    width: 100%;
    height: fit-content;
    margin-top: 50px;
    max-height: 650px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.image_container{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    width: 100%;
}
.single_row{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
}
.input_field_container_dual{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 40%;
}
.input_field p{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    font-size: 17px;
}
.bullet{
    max-width: 10px;
    max-height: 10px;
    background-color: #0050b9;
    border-radius: 50px;
}
.bullets_container{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    align-items: center;
}
.input_field{
    width: 100%;
    height: 52px;
    background-color: #f6f6fa;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.input_field_container_dual label{
    color: #0169ec;
    font-weight: bolder;
}
@media screen and (max-width: 1000px) {
    .services_container{
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: initial;
      max-width: inherit;
    }
    .input_field_container_dual{
        width: 48%;
    }
    .image_container{
      width: 90%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 200px;
      max-width: 490px;
      border-radius: 40px;
      min-height: initial;
      height: fit-content;
      margin-bottom: 30px;
    }
    .video_card{
      object-fit: cover;
      height: initial;
      width: 100%;
      aspect-ratio: 1/1;
      border-radius: 15px;
      max-width: initial;
    }
    .description{
      width: 100%;
      /* justify-content: center; */
      align-items: center;
    }
    .description h1{
      font-size: 20px;
      text-align: center;
    }
    .service_description_container > p:nth-child(1){
      text-align: center !important;
      font-size: 12px;
    }
    .service_description_container p{
      text-align: left !important;
      font-size: 12px;
    }
    .bullet > p{
      text-align: left !important;
    }
    .video{
      object-fit: contain;
      height: fit-content;
      border-radius: 0px;
    }
    .video_container{
      width: 100vw;
      height: fit-content;
      padding-top: 0px;
      border-radius: 0px;
      margin-top: 30px;
    }
  }