.find_section_wrapper {
  width: 100%;
  max-height: 110vh;
  min-height: 800px;
  position: relative;
}
.find_section_section {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.find_section_section h1 {
  color: rgb(44, 44, 44);
}
.cards_container{
    width: 90%;
    max-width: 1550px;
    height: fit-content;
    margin-top: 80px;
    height: 700px;
    position: relative;
}
.overlay{
  position: absolute;
  width: 100%;
  height: 90%;
  pointer-events: none;
  background-image: linear-gradient(to right, #f1f7f900,#f1f7f900, #f1f7f900,#f1f7f9);
  z-index: 30;
}
@media screen and (max-width: 1000px) {
  .find_section_section h1 {
    color: rgb(44, 44, 44);
    font-size: 20px;
    text-align: center;
    width: 90%;
    margin-bottom: 30px;
  }
  .cards_container{
    width: 85%;
    max-width: 1550px;
    height: fit-content;
    margin-top: 0px;
    height: fit-content;
    position: relative;
}
.overlay{
  display: none;
}
.find_section_wrapper {
  width: 100%;
  max-height: 90vh;
  min-height: 700px;
  position: relative;
  padding-top: 70px;
  padding-bottom: 70px;
}
}
